<section class="project min-h-screen w-full overflow-hidden relative" id="project">
  <div class="absolute__overlay absolute bg-neutral-900 inset-0 z-[-2]"></div>
  <div
    class="portfolio__background absolute inset-0 bg-center bg-cover z-[-1] filter blur-md"
    style="background-image: url('/bg/bg-portfolio.jpg');">
  </div>

  <div class="project__container mx-auto w-full max-w-screen-xl px-4 py-24">

    <h2 class="text-center text-accent text-4xl mb-5" data-anim="animate-block-fly-top">{{ project.title | translate }}</h2>

    <div class="project__image-container group relative flex items-center justify-center w-full mt-5" data-anim="animate-flip-unmirror">
      <img [src]="project.images.large" alt="project image" class="rounded-lg overflow-hidden shadow-xl"/>
    </div>

    <div class="project__info space-y-8 mt-10">

      <div class="project__info-container grid md:grid-cols-12 gap-3">

        <div
          class="project__facts md:col-span-4 p-5 bg-black/30 rounded-lg tracking-wide flex flex-col justify-between gap-5 pre-animate"
          data-anim="animate-block-fly-left-top">

          <div class="project__facts-list space-y-6">
            <div class="project__facts-item space-y-4 text-lg">
              <p class="text-gray-400 text-center">{{ project.type | translate }}</p>
              <p class="text-accent">{{ project.typeDescription | translate }}</p>
            </div>

            <div class="project__facts-item space-y-4 text-lg">
              <p class="text-gray-400 text-center">{{ 'PROJECT.TECH_STACK_TITLE' | translate }}</p>
              <div class="flex flex-wrap justify-center gap-2">
              <span *ngFor="let tech of project.techStack"
                    class="bg-accent/10 text-accent text-sm font-semibold px-3 py-1 rounded-full border border-accent/50">
               {{ tech }}
             </span>
              </div>
            </div>

            <div class="project__facts-item space-y-4 text-lg">
              <p class="text-gray-400 text-center">{{ 'PROJECT.TOOLS' | translate }}</p>
              <div class="flex flex-wrap justify-center gap-2">
              <span *ngFor="let tool of project.tools"
                    class="bg-accent/10 text-accent text-sm font-semibold px-3 py-1 rounded-full border border-accent/50">
                {{ tool }}
              </span>
              </div>
            </div>

            <div class="project__facts-item  text-lg flex items-center gap-2 justify-center">
              <span class="text-gray-400 text-center">{{ 'PROJECT.STATUS_TITLE' | translate }}</span>
              <span class="text-green-500">{{ project.status | translate }}</span>
            </div>
          </div>

          <div class="project__facts-actions flex flex-col items-center justify-center gap-5 w-full pb-5">

            <div *ngIf="project.repositoryUrl" class="w-full">
              <a [href]="project.repositoryUrl"
                 class="w-full  max-w-[250px] mx-auto block text-center text-white text-sm font-semibold  border  bg-white/20 py-2 px-4 rounded-full uppercase hover:bg-white/30 transition duration-200 hover:scale-105"
                 target="_blank">
                {{ 'PROJECT.GITHUB_LINK' | translate }}
              </a>
            </div>

            <div class="w-full">
              <a [href]="project.url"
                 class="w-full  max-w-[250px] mx-auto block text-center text-white text-sm font-semibold  border  bg-white/20 py-2 px-4 rounded-full uppercase
                 hover:bg-white/30 transition duration-200 hover:scale-105"
                 target="_blank">
                {{ 'PROJECT.DEMO_LINK' | translate }}
              </a>
            </div>

            <div class="w-full">
              <button [routerLink]="'/portfolio'"
                      class="w-full  max-w-[250px] mx-auto block text-center text-white text-sm font-semibold  border  bg-white/20 py-2 px-4 rounded-full uppercase
                 hover:bg-white/30 transition duration-200 hover:scale-105">
                {{ 'PROJECT.BACK' | translate }}
              </button>
            </div>

          </div>

        </div>

        <div class="project__details md:col-span-8 p-5 bg-black/30 rounded-lg space-y-6 tracking-wide pre-animate"
             data-anim="animate-block-fly-right-top">

          <div class="project__details-item ">
            <h3 class="text-white text-2xl text-center">{{ 'PROJECT.ABOUT' | translate }}</h3>
            <p class="text-gray-400 text-lg">{{ project.details.what | translate }}</p>
          </div>


          <div class="project__details-item ">
            <h3 class="text-white text-2xl text-center">{{ 'PROJECT.OVERVIEW' | translate }}</h3>
            <p class="text-gray-400 text-lg">{{ project.details.overview | translate }}</p>
          </div>

          <div class="project__details-item ">
            <h3 class="text-white text-2xl text-center">{{ 'PROJECT.SPECIAL' | translate }}</h3>
            <p class="text-gray-400 text-lg">{{ project.details.special | translate }}</p>
          </div>

          <div class="project__details-item ">
            <h3 class="text-white text-2xl text-center">{{ 'PROJECT.CHALLENGES' | translate }}</h3>
            <p class="text-gray-400 text-lg">{{ project.details.challenges | translate }}</p>
          </div>

        </div>
      </div>

    </div>

  </div>

</section>
