<ng-container *ngIf="contactsModalService.isVisible()">
  <section (click)="contactsModalService.close()" class="contacts fixed inset-0 z-50 flex items-center justify-center" id="contacts">

    <div
      [ngClass]="{
      'opacity-70': contactsModalService.isOpen(),
      'opacity-0': !contactsModalService.isOpen()
    }"
      class="absolute inset-0 bg-black transition-opacity duration-300"></div>

    <div
      (click)="$event.stopPropagation()"
      [attr.data-anim]="contactsModalService.isOpen() ? 'animate-block-zoom-in' : 'animate-block-zoom-out'"
      class="contacts__container relative bg-white rounded-xl p-6 shadow-lg w-full max-w-md"
      data-repeat
    >
      <h3 class="text-red-600 text-6xl">Contacts Modal</h3>
      <button
        (click)="contactsModalService.close()"
        aria-label="Закрыть"
        class="absolute top-0 right-1 text-black hover:text-red-600 text-2xl transition"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>

  </section>

</ng-container>
