<section id="skills-radial">
  <h3
    class="text-center text-2xl text-neutral-700 mb-5 text-shadow-xl opacity-0"
    data-anim="animate-info-appear"
    data-repeat
  >{{ 'SKILLS.SKILLS_BLOCK.TITLE' | translate }}</h3>

  <!-- кнопки категорий Десктоп версия-->
  <div class="hidden lg:flex flex-wrap justify-center opacity-0"
       data-anim="animate-info-fade-up"
       data-delay="0.3s">
    <button
      (click)="onSelectCategory(category)"
      *ngFor="let category of categories; let i = index"
      [ngClass]="[
      selectedCategory === category
        ? 'bg-gradient-to-br from-orange-400 to-orange-600 text-black'
        : 'bg-black/30 text-white hover:bg-black/50',
      i === 0 ? 'rounded-l-full' : '',
      i === categories.length - 1 ? 'rounded-r-full' : ''
    ]"
      class="px-4 py-2 font-semibold min-w-[150px] transition-all duration-200 border border-white/40"
    >
      {{ category | translate }}
    </button>
  </div>

  <!-- Категории для мобильных и планшетов -->
  <div class="grid grid-cols-2 md:grid-cols-3 lg:hidden mt-4 rounded-md overflow-hidden w-full max-w-[90vw] mx-auto">
    <button
      (click)="onSelectCategory(category)"
      *ngFor="let category of categories"
      [ngClass]="[
      selectedCategory === category
        ? 'bg-gradient-to-br from-orange-400 to-orange-600 text-black font-bold'
        : 'bg-black/30 text-white hover:bg-black/50'
    ]"
      class="border border-white/30 py-2 px-3 text-sm font-semibold text-center transition-all duration-200 w-full uppercase"
    >
      {{ category | translate }}
    </button>
  </div>


  <!-- радиальная сетка -->
  <div *ngIf="selectedCategory" class="relative w-full h-[300px] md:h-[350px] flex items-center justify-center">

    <!-- SVG ЛИНИИ: рендерятся только когда showLines = true -->
    <svg class="absolute inset-0 w-full h-full pointer-events-none z-10">
      <ng-container *ngFor="let pos of radialLines">
        <line
          [@drawLine]="linesReady ? 'ready' : 'void'"
          [attr.x1]="center.x"
          [attr.x2]="pos.x"
          [attr.y1]="center.y"
          [attr.y2]="pos.y"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-width="2"
        />
      </ng-container>
    </svg>


    <!-- центральная сфера -->
    <div
      #centerCircle
      class="absolute z-20 w-[4.5rem] md:w-[6rem] aspect-square bg-gradient-to-br from-orange-400 to-orange-600 rounded-full flex items-center justify-center text-xs md:text-base text-white font-bold tracking-wide text-center whitespace-normal break-words leading-tight max-w-[80%] shadow-lg will-change-transform">
      {{ selectedCategoryForCircle | translate }}
    </div>

    <!-- кружки скиллов -->
    <ng-container *ngFor="let skill of filteredSkills; let i = index">
      <div
        #skillCircle
        (click)="onSelectedSkill(skill.name)"
        (mouseenter)="hovered[i] = true"
        (mouseleave)="hovered[i] = false"
        [@skillPop]="{ value: '', params: { duration: '0.3s' } }"
        [ngClass]="{
        'bg-gradient-to-br from-orange-400 to-orange-600 text-black': selectedSkill === skill.name,
        'bg-neutral-500 text-white': selectedSkill !== skill.name,
      }"
        [ngStyle]="positionStyles[i]"
        [style.transform]="'translate(var(--x), var(--y)) scale(' + getScale(i) + ')'"
        class="absolute text-[10px] md:text-sm font-semibold text-center leading-tight
             w-16 h-16 md:w-[85px] md:h-[85px] rounded-full flex items-center justify-center
             drop-shadow-dark2xl will-change-transform cursor-pointer z-10
             select-none p-2 transition-all duration-300">
        {{ skill.name }}
      </div>
    </ng-container>
  </div>

</section>
