<section class="about relative min-h-screen w-full overflow-hidden" id="about">
  <div class="about__overlay absolute inset-0 bg-center bg-cover z-[-1] filter blur-sm"
       style="background-image: url('/bg/bg-about.jpg');"></div>
  <div class="about__container w-full max-w-screen-xl mx-auto px-4 py-32">
    <div class="about__grid grid grid-cols-12 gap-4">

      <div
        [attr.data-anim]="isMobile ? 'animate-block-fly-right' : 'animate-block-fly-left-top'"
        [attr.data-delay]="isMobile ? '0.3s' : '0s'"
        class="about__intro opacity-0 col-span-12 md:col-span-8 md:row-start-1 bg-black/40 backdrop-blur-md p-6 space-y-4 rounded-2xl shadow-md text-white text-base md:text-lg">
        <h3 class="text-white text-base md:text-lg lg:text-xl text-center mb-3 tracking-wide">О себе</h3>
        <p>Привет! Меня зовут Анатолий, я фронтенд-разработчик, создающий современные и отзывчивые веб-интерфейсы.</p>
        <p>Мой стек включает HTML, SCSS, JS, TypeScript и Angular. Tailwind помогает быстро создавать стильные и адаптивные интерфейсы, а
          RxJs — управлять реактивностью. Для хранения данных и деплоя задействую Firebase и GitHub.</p>
      </div>

      <div
        [attr.data-delay]="isMobile ? '0s' : '0.3s'"
        class="about__photo opacity-0 col-span-12 md:col-span-4 row-start-1 md:row-start-1 md:row-span-2 bg-black/40 backdrop-blur-md p-6 rounded-2xl shadow-md flex flex-col gap-6 items-center justify-evenly"
        data-anim="animate-block-fly-right-top">
        <img alt="photo" class="w-72 h-72 rounded-full object-cover shadow-lg" src="/img/profile-photo.png">
        <div class="flex flex-col gap-4">
          <a (click)="scrollToSection('contacts')"
             class="w-60 py-1 rounded-full bg-white/20 hover:bg-white/30 border border-white/30 hover:scale-105 text-white uppercase flex justify-center transition all duration-200">
            <i class="fa-solid fa-phone mr-2 flex items-center"></i>
            Мои контакты
          </a>
          <a
            class="w-60 py-1 rounded-full bg-white/20 hover:bg-white/30 border border-white/30 hover:scale-105 text-white uppercase flex justify-center  transition all duration-200"
            href="https://www.linkedin.com/in/anatoliy-sysoienko-5a2029252/overlay/1738928238040/single-media-viewer/?profileId=ACoAAD5LwgoB8NnV7Zr1Pdet1e4FRczZhm3KTQ8"
            target="_blank">
            <i class="fa-solid fa-file-lines mr-2 flex items-center"></i>
            Полное резюме
          </a>
          <a
            (click)="scrollToSection('portfolio')"
            class="w-60 py-1 rounded-full bg-white/20 hover:bg-white/30 border border-white/30 hover:scale-105 text-white uppercase flex justify-center  transition all duration-200"
            target="_blank">
            <i class="fa-solid fa-file-lines mr-2 flex items-center"></i>
            Мои работы
          </a>
        </div>
      </div>

      <div
        [attr.data-anim]="isMobile ? 'animate-block-fly-left' : 'animate-block-fly-left-top'"
        [attr.data-delay]="isMobile ? '0.9s' : '0.6s'"
        class="about__facts  opacity-0 col-span-12 md:col-span-8 bg-black/40 backdrop-blur-md p-6 rounded-2xl shadow-md"
        data-anim="animate-block-fly-right"
        data-delay="0.6s">
        <h3 class="text-white text-base md:text-lg lg:text-xl text-center mb-3 tracking-wide">Основные факты</h3>
        <ul class="space-y-2 text-white text-base md:text-lg">
          <li>🎨 Создаю удобные UI/UX интерфейсы, ориентированные на пользователя</li>
          <li>📱 Адаптив под любые экраны — от мобильных до десктопов</li>
          <li>⚡ Оптимизирую загрузку и производительность</li>
          <li>📚 Пишу семантичный, масштабируемый и чистый код</li>
        </ul>
      </div>

      <div
        class="about__education opacity-0 col-span-12 md:col-span-6 bg-black/40 backdrop-blur-md p-6 rounded-2xl shadow-md text-white space-y-6"
        data-anim="animate-block-fly-right-bottom" data-delay="0.9s">
        <h3 class="text-white text-base md:text-lg lg:text-xl text-center mb-3 tracking-wide">Образование</h3>

        <!-- Курсы -->
        <div class="flex items-start gap-4">
          <div class="text-3xl">🎓</div>
          <div>
            <h4 class="font-semibold text-lg mb-1">Frontend-разработчик</h4>
            <p class="text-base text-gray-200">Онлайн-курс от SkillUp, 2021–2022</p>
            <p class="text-base text-gray-200">HTML, CSS, JavaScript, Angular, UX</p>
          </div>
        </div>

        <!-- Самообразование -->
        <div class="flex items-start gap-4">
          <div class="text-3xl">📘</div>
          <div>
            <h4 class="font-semibold text-lg mb-1">Самообразование</h4>
            <p class="text-base text-gray-200">Pet-проекты, документация, практика</p>
            <p class="text-base text-gray-200">Регулярное развитие и чтение гайдов</p>
          </div>
        </div>
      </div>

      <!-- Сертификат -->
      <div
        [attr.data-delay]="isMobile ? '1.2s' : '0s'"
        class="about__certificate  opacity-0 col-span-12 md:col-span-6 basis-0 grow bg-black/40 backdrop-blur-md p-6 rounded-2xl shadow-md flex flex-col items-center justify-center"
        data-anim="animate-block-fly-left-bottom">
        <img
          (click)="openModal()"
          alt="SkillUp Certificate"
          class="w-10/12 md:max-w-[320px] lg:max-w-[550px] cursor-pointer transition-transform duration-200 hover:scale-105"
          src="/img/certificate.jpg"
        />
      </div>
    </div>

    <!-- Модалка -->
    <div (click)="closeModal()" *ngIf="isModalOpen" class="fixed inset-0 z-50 bg-black/80 flex items-center justify-center">
      <div (click)="$event.stopPropagation()" class="relative max-w-3xl w-11/12">
        <img alt="SkillUp Certificate Zoomed" class="w-full h-auto rounded-xl shadow-lg" src="/img/certificate.jpg">
        <button (click)="closeModal()" aria-label="Закрыть модалку" class="absolute top-2 right-2 text-4xl hover:scale-110 transition">
          &times;
        </button>
      </div>
    </div>
  </div>

</section>
