<section class="skills relative w-full h-full min-h-screen overflow-hidden" id="skills-host">
  <div class="skills__overlay absolute inset-0 bg-top bg-repeat-y z-[-1] filter blur-sm"
       style="background-image: url('/bg/bg-skills.jpg')"></div>

  <div class="skills__container h-full w-full max-w-screen-xl mx-auto px-4 py-24">

    <div class="skills__navbar flex items-center justify-center mb-10">

      <button (click)="setActiveTab('skills')" [ngClass]="activeTab === 'skills' ? activeClass : ''"
              class="uppercase font-bold px-4 py-2  border-2 border-black/30 rounded-l-full w-[200px] text-white bg-black/30 hover:bg-black/50 transition duration-200 drop-shadow-darkXl">
        Skills
      </button>

      <button (click)="setActiveTab('tools')" [ngClass]="activeTab === 'tools' ? activeClass : ''"
              class="uppercase font-bold px-4 py-2 border-2 border-l-0 border-r-0 border-black/30 w-[200px] text-white bg-black/30 hover:bg-black/50 transition duration-200 drop-shadow-darkXl">
        Tools
      </button>

      <button (click)="setActiveTab('methodologies')" [ngClass]="activeTab === 'methodologies' ? activeClass : ''"
              class="uppercase font-bold px-4 py-2  border-2 border-black/30 rounded-r-full min-w-[200px] text-white bg-black/30 hover:bg-black/50 transition duration-200 drop-shadow-darkXl">
        Methodologies
      </button>

    </div>

    <div
      class="relative isolate overflow-hidden">

      <div [ngStyle]="{ transform: getSlideTransform() }"
           class="flex transition-transform duration-500 ease-in-out w-full">

        <!-- Skills -->
        <div
          [ngClass]="{ 'opacity-100': activeTab === 'skills', 'opacity-0': activeTab !== 'skills', 'pointer-events-none': activeTab !== 'skills' }"
          class="min-w-full px-4 transition-opacity duration-500 ease-in-out">
          <p class="text-center text-lg mb-5 text-shadow-lg">Выберите категорию навыка:</p>
          <block-skills-tech [isSliding]="isSliding"></block-skills-tech>
        </div>

        <!-- Tools -->
        <div
          [ngClass]="{ 'opacity-100': activeTab === 'tools', 'opacity-0': activeTab !== 'tools', 'pointer-events-none': activeTab !== 'tools' }"
          class="min-w-full px-4 transition-opacity duration-500 ease-in-out">
          <p class="text-center text-lg mb-5 text-shadow-lg">Инструменты:</p>
        </div>

        <!-- Methodologies -->
        <div
          [ngClass]="{ 'opacity-100': activeTab === 'methodologies', 'opacity-0': activeTab !== 'methodologies', 'pointer-events-none': activeTab !== 'methodologies' }"
          class="min-w-full px-4 transition-opacity duration-500 ease-in-out">
          <p class="text-center text-lg mb-5 text-shadow-lg">Методологии:</p>
        </div>
      </div>
    </div>


  </div>
</section>
