<button (click)="contactsModalService.toggle()" aria-label="Открыть контакты"
        class="hidden md:flex items-center justify-center fixed bottom-6 right-6 rounded-full z-50 h-20 w-20 bg-blue-600/70 text-white text-4xl drop-shadow-dark2xl transition hover:scale-110 duration-300">
  <i class="fa-solid fa-envelope opacity-60"></i>
</button>

<button (click)="contactsModalService.toggle()" aria-label="Открыть контакты"
        class="flex md:hidden items-center justify-center fixed bottom-4 right-4 rounded-full z-50 h-12 w-12 bg-blue-600/50 text-white text-2xl drop-shadow-dark2xl transition hover:scale-110 duration-300">
  <i class="fa-solid fa-envelope opacity-50"></i>
</button>

