<form (ngSubmit)="onSubmit()" [formGroup]="contactsForm" class="flex flex-col gap-2 xs:gap-3 lg:gap-4">

  <!-- Name -->
  <div
    [attr.data-anim]="isMobile ? 'animate-block-fly-right' : 'animate-block-fly-left'"
    [attr.data-delay]="isMobile ? '1100ms' : '500ms'"
    class="form__control group flex items-center gap-1.5 xs:gap-2 lg:gap-3 text-white focus-within:text-shadow-lgLight opacity-0"
    data-repeat>

    <label
      class="text-sm xs:text-base md:text-lg lg:text-xl w-[60px] xs:w-[70px] lg:w-[80px] transition-all duration-300 ease-in-out"
      for="name">Имя:</label>

    <input
      class="text-xs xs:text-sm lg:text-base border border-white/40 px-2 py-1 xs:px-3 xs:py-1.5 lg:px-4 lg:py-2 rounded-md w-full bg-black/30 focus:outline-none focus:ring-1 focus:ring-white focus:shadow-whiteGlow transition-all duration-300 ease-in-out"
      formControlName="name" id="name" placeholder="Ваше имя..." type="text"/>
  </div>

  <div class="h-2 mt-[-4px] xs:mt-[-6px] lg:mt-[-8px] mb-2 ml-[calc(60px+0.5rem)] xs:ml-[calc(70px+0.5rem)] lg:ml-[calc(80px+0.75rem)]">
    <small *ngIf="getErrorMessage('name')" class="text-red-500 text-[11px] xs:text-xs lg:text-sm leading-none">
      {{ getErrorMessage('name') }}
    </small>
  </div>

  <!-- Email -->
  <div
    [attr.data-anim]="isMobile ? 'animate-block-fly-right' : 'animate-block-fly-left'"
    [attr.data-delay]="isMobile ? '1200ms' : '500ms'"
    class="form__control group flex items-center gap-1.5 xs:gap-2 lg:gap-3 text-white focus-within:text-shadow-lgLight opacity-0"
    data-repeat>

    <label
      class="text-sm xs:text-base md:text-lg lg:text-xl w-[60px] xs:w-[70px] lg:w-[80px] transition-all duration-300 ease-in-out"
      for="email">Email:</label>

    <input
      class="text-xs xs:text-sm lg:text-base border border-white/40 px-2 py-1 xs:px-3 xs:py-1.5 lg:px-4 lg:py-2 rounded-md w-full bg-black/30 focus:outline-none focus:ring-1 focus:ring-white focus:shadow-whiteGlow transition-all duration-300 ease-in-out"
      formControlName="email" id="email" placeholder="Укажите e-mail..." type="email"/>
  </div>

  <div class="h-2 mt-[-4px] xs:mt-[-6px] lg:mt-[-8px] mb-2 ml-[calc(60px+0.5rem)] xs:ml-[calc(70px+0.5rem)] lg:ml-[calc(80px+0.75rem)]">
    <small *ngIf="getErrorMessage('email')" class="text-red-500 text-[11px] xs:text-xs lg:text-sm leading-none">
      {{ getErrorMessage('email') }}
    </small>
  </div>

  <!-- Message -->
  <div
    [attr.data-anim]="isMobile ? 'animate-block-fly-right' : 'animate-block-fly-left'"
    [attr.data-delay]="isMobile ? '1200ms' : '500ms'"
    class="form__control group flex items-start gap-1.5 xs:gap-2 lg:gap-3 text-white focus-within:text-shadow-lgLight opacity-0"
    data-repeat>

    <label
      class="text-sm xs:text-base md:text-lg lg:text-xl w-[60px] xs:w-[70px] lg:w-[80px] mt-1 transition-all duration-300 ease-in-out"
      for="message">Текст:</label>

    <textarea
      cdkAutosizeMaxRows="5"
      cdkAutosizeMinRows="2"
      cdkTextareaAutosize
      class="text-xs xs:text-sm lg:text-base resize-none border border-white/40 px-2 py-1 xs:px-3 xs:py-1.5 lg:px-4 lg:py-2 rounded-md w-full bg-black/30 focus:outline-none focus:ring-1 focus:ring-white focus:shadow-whiteGlow transition-all duration-300 ease-in-out"
      formControlName="message" id="message" placeholder="Ваше сообщение..."></textarea>
  </div>

  <div class="h-2 mt-[-4px] xs:mt-[-6px] lg:mt-[-8px] mb-2 ml-[calc(60px+0.5rem)] xs:ml-[calc(70px+0.5rem)] lg:ml-[calc(80px+0.75rem)]">
    <small *ngIf="getErrorMessage('message')" class="text-red-500 text-[11px] xs:text-xs lg:text-sm leading-none">
      {{ getErrorMessage('message') }}
    </small>
  </div>

  <!-- Submit -->
  <div
    [ngClass]="contactsForm.invalid || isSubmitting() ? 'hover:scale-100' : 'hover:scale-105'"
    class="form_actions flex justify-center md:justify-end items-center mt-2 xs:mt-3 lg:mt-4 origin-right transition-transform duration-300 ease-in-out">

    <button
      [attr.data-anim]="isMobile ? 'animate-block-fly-bottom' : 'animate-block-fly-left'"
      [attr.data-delay]="isMobile ? '350ms' : '500ms'"
      [disabled]="contactsForm.invalid || isSubmitting()"
      [ngClass]="contactsForm.invalid || isSubmitting() ? disabledButtonClasses : enabledButtonClasses"
      class="w-9/12 xs:w-[200px] md:w-[250px] lg:w-[300px] px-2.5 py-1.5 xs:px-3 xs:py-2 lg:px-4 lg:py-2.5 text-xs xs:text-sm lg:text-base rounded-xl border-2 transition-all duration-300 focus:outline-none focus-visible:ring-2 focus-visible:ring-white invisible opacity-0"
      data-repeat
      type="submit">
      {{ isSubmitting() ? 'Отправка...' : 'Отправить' }}
    </button>
  </div>

  <div class="h-2 mt-[-6px] xs:mt-[-8px] lg:mt-[-10px]">
    <p
      [class.opacity-0]="!isSuccess()"
      [class.opacity-100]="isSuccess()"
      class="transition-opacity duration-500 text-green-500 text-end text-xs xs:text-sm lg:text-base"
    >
      Сообщение успешно отправлено!
    </p>
  </div>

</form>
