<address class="contact__info not-italic text-neutral-300" id="contact-info">
  <div class="flex flex-col gap-6 px-6 md:px-0 py-5 max-w-[600px] mx-auto">

    <!-- Телефон -->
    <a aria-label="Позвонить" class="text-xl hover:text-shadow-lgLight transition-all duration-300 opacity-0"
       data-anim="animate-block-fly-right" data-delay="500ms" data-repeat
       href="tel:+380664260466">
      <i class="fa-solid fa-phone text-2xl mr-3"></i>+380 66 426 04 66
    </a>

    <!-- Telegram -->
    <a aria-label="Открыть Telegram" class="text-xl hover:text-shadow-lgLight transition-all duration-300 opacity-0"
       data-anim="animate-block-fly-right" data-delay="600ms" data-repeat
       href="https://t.me/Pistalierro" rel="noopener noreferrer" target="_blank">
      <i class="fa-brands fa-telegram text-2xl mr-3"></i>t.me/Pistalierro
    </a>

    <!-- Email -->
    <a aria-label="Написать на почту" class="text-xl hover:text-shadow-lgLight transition-all duration-300 opacity-0"
       data-anim="animate-block-fly-right" data-delay="700ms" data-repeat
       href="mailto:pistalierro@gmail.com">
      <i class="fa-solid fa-envelope text-2xl mr-3"></i>pistalierro&#64;gmail.com
    </a>

    <!-- GitHub -->
    <a aria-label="Открыть GitHub профиль" class="text-xl hover:text-shadow-lgLight transition-all duration-300 opacity-0"
       data-anim="animate-block-fly-right" data-delay="800ms" data-repeat
       href="https://github.com/Pistalierro" rel="noopener noreferrer" target="_blank">
      <i class="fa-brands fa-github text-2xl mr-3"></i>GitHub
    </a>

    <!-- LinkedIn -->
    <a aria-label="Открыть LinkedIn профиль" class="text-xl hover:text-shadow-lgLight transition-all duration-300 opacity-0"
       data-anim="animate-block-fly-right" data-delay="900ms" data-repeat
       href="https://www.linkedin.com/in/anatoliy-sysoienko-5a2029252/" rel="noopener noreferrer" target="_blank">
      <i class="fa-brands fa-linkedin text-2xl mr-3"></i>LinkedIn
    </a>

    <!-- Портфолио или сайт -->
    <a aria-label="Открыть сайт-портфолио" class="text-xl hover:text-shadow-lgLight transition-all duration-300 opacity-0"
       data-anim="animate-block-fly-right" data-delay="1000ms" data-repeat
       href="https://portfolio-abe24.web.app/" rel="noopener noreferrer" target="_blank">
      <i class="fa-solid fa-globe text-2xl mr-3"></i>Портфолио
    </a>

  </div>
</address>
